/* BASIC RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


nav {
    background-color:#fff;
    padding: 1.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   border-bottom:1px solid lightgray; 
}
html{
    font-size: 18px;
}

.nav-links {
  display: flex;
  list-style: none;
}

/* Hide hamburger on desktop */
.menu-toggle {
  display: none;
  
}

.bar {
  height: 3px;
  width: 25px;
  background-color:black;
  margin: 4px 0;
  border-radius: 10px;
}


.logo {
    color: #16a34a;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color:#16a34a ;
    text-decoration: none;
}


.hero {
    font-size:1rem;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    background-color:#e0475b;
    padding: 2rem 2rem;
    text-align: center;
}
    

.btn {
    background-color: #e27d60;
    color:white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content-section {
    color:white;
    padding:3rem 3rem;
    background-color: #e0475b;
    text-align: center;
}

.footer {
    background-color: #16a34a;
    color:black;
    text-align: center;
    padding: 3rem 2rem;
}

/*contacts.html designs*/

.contact-wrapper{
    max-width: 100vh;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:3rem;
    background-color:#16a34a;
    padding:2rem 4rem;
    text-align: center;
    border-radius: 1rem;
}

.container{
    
    padding:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #16a34a;
    position: relative;
    

}

.form-group-container{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:1rem;
}

.form-group{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:0.5rem;
    display:block;
}

input{
    border-radius: 0.5rem;
    padding:0.5rem 2rem;
}
h1,h3 , p,h2 , label{
    color: #fff;
}

.btn{
 color:white;
padding: 0.5rem 1rem;
border-radius: 0.2rem;
background-color: #e27d60;

}


.contact-items{
display: flex;
flex-direction: column;
gap: 1rem;
}
/* projects.html designs*/

.project-section{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    
    
}
.card a{
    display: inline-block;
    margin-top:0.5rem;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
}
.btn-primary{
    padding:0.5rem 0.2rem;
    border-radius:0.2rem ;
    background-color: #e27d60;

}
.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color:#16a34a;
}

.card{
padding: 1rem;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Keep it hidden at first */
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 3rem;
        left: 0.2rem;
        background-color: #333;
    }

    /* THIS IS THE PART JS TRIGGERS */
    .nav-links.active {
        display: flex  !important; /* Forces the menu to show up */
        flex-direction: column;
    }
                    

    .menu-toggle {
  display:flex;
  flex-direction: column;

  
}

}